/* 

Predefined Color names (140 Colors)
RGB (red, green, blue) 0-255
RGBA (red, green, blue, alpha) 0.0-1.0 Transparent
HEX #rrggbb 00-ff (0-255)
HSL (hue, saturation, lightness) 
    HUE: 0-360 (0-red, 120-green, 240-blue)
    Saturation: 0% - 100%
    Lightness: 0% - 100%
HSLA (hue, saturation, lightness, alpha)  0.0-1.0 Transparent

www.htmlcolorcodes.com

*/